img {
  width: 300px;
  padding: 15px;
  margin-top: 10px;
  margin-right: 19px;
  padding: 15px;
  background-color: yellow;
}

.column {
  float: left;
}

h1 {
  text-align: center;
}

.title h1 {
  font-style: italic;
}

#blue {
  color: blue;
}

#red {
  color: red;
}

#orange {
  color: orange;
}
